@media (min-height: 640px) and (orientation: portrait) {
  .contactTop {
    display: none;
  }

  .nav-mobile .logoImage img {
    width: 16vw;
    height: 7vh;
  }

  .nav-mobile .logoText {
    text-transform: uppercase;
    padding-top: 1vh;
    width: 70vw;
    font-size: 3.5vh;
    line-height: 3vh;
  }

  main .titleLine .spanMainTitle {
    display: block;
  }

  nav {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  main .mainTitle {
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 90vw;
    z-index: 1;
  }

  main .mainTitle h1 {
    font-size: 9.5vh;
    line-height: 10vh;
    letter-spacing: 0.15vw;
    text-shadow: 0.75vw 0.75vw black;
  }

  main .moreInfo {
    display: none;
  }

  section.aboutCompanySection {
    top: 100vh;
    height: 100vh;
  }

  .gradient-border {
  	 width: 80vw;
  	 height: 80vh;
     margin: 15.25vh auto;
  }

  section.aboutCompanySection h1 {
    font-size: 6vh;
    letter-spacing: 0.75vw;
    padding-top: 6vh;
  }

  section.aboutCompanySection p {
    height: 60vh;
    padding-top: 5vh;
    font-size: 2.5vh;
    line-height: 1.7;
    letter-spacing: 0.1vw;
  }

  section.ourServicesSection {
    height: 400vh;
  }

  section.ourServicesSection .ourServicesBlockSection {
    margin-top: 0;
    margin-left: 12.5vw;
  }

  section.ourServicesSection .ourServicesBlockSection .ourServicesFirstCard {
    float: left;
    margin-top: 23vh;
    margin-right: 12.5vw;
  }

  section.ourServicesSection .ourServicesBlockSection .ourServicesSecondCard {
    right: 12.5vw;
    margin-top: 23vh;
  }

  section.ourServicesSection .ourServicesBlockSection .ourServicesImage img {
    width: 75vw;
    height: 70vh;
    margin-top: 23vh;
  }

  section.ourServicesSection .ourServicesBlockSection .ourServicesSecondImage {
    position: absolute;
    top: 281.5vh;
  }

  section.ourServicesSection .ourServicesCard {
    width: 75vw;
    height: 70vh;
    float: none;
  }

  section.ourServicesSection .ourServicesCard:nth-child(1) {
    margin-left: auto;
    margin-right: auto;
  }

  section.ourServicesSection .ourServicesCard:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    opacity: 0.8;
    font-size: 3.5vh;
    padding: 0 3vw 0 3vw;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    opacity: 0.8;
    font-size: 3.5vh;
    padding: 7vh 3vw 0 3vw;
  }

  section.ourServicesSection .ourServicesCard span {
    opacity: 1;
  }

  section.priceListSection {
    top: 600vh;
    width: 100vw;
    height: 215vh;
  }

  section.priceListSection .priceListDiv {
    max-width: 90vw;
    height: 149vh;
    margin-top: 33vh;
  }

  section.priceListSection .priceListDiv .priceListDivXD {
    width: 82vw;
    height: 18vh;
    line-height: 7vh;
    margin: 2.4vh auto;
    border-bottom: 0.5vh solid royalblue;
  }

  section.priceListSection .priceListDiv .spanName {
    margin-top: 2vh;
    height: 4vh;
    width: 82vw;
    font-size: 3.5vh;
    text-align: center;
  }

  section.priceListSection .priceListDiv .spanPriceFirst {
    width: 36vw;
    margin-left: 20vw;
    line-height: 10vh;
    padding-bottom: 5vh;
    font-size: 3.5vh;
    text-align: center;
  }

  section.priceListSection .priceListDiv .spanPriceSecond {
    font-size: 2vh;
    margin-left: auto;
    margin-right: auto;
  }

  section.priceListSection .priceListDiv span:nth-child(4) {
    display: none;
  }

  section.priceListSection .priceListDiv input {
    display: none;
  }

  section.priceListSection .priceListDiv button {
    display: none;
  }

  section.contactSection {
    top: 815vh;
    height: 100vh;
  }

  section.contactSection .contactText {
    height: 60vh;
    width: 95vw;
    margin: 15vh auto 0 auto;
    text-shadow: 0.5vw 0.5vw black;
    border: none;
  }

  section.contactSection .contactText h1 {
    font-size: 3.7vh;
    margin-bottom: 15vh;
  }

  section.contactSection .contactText h2 {
    width: 85vw;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 4vh;
    margin-left: 5vw;
    color: #ddd;
  }

  section.contactSection .contactText h2.mobile span {
    display: block;
  }

  section.contactSection .contactText h2.email {
    margin-left: 61vw;
    margin-bottom: 15vh;
    font-size: 2.5vh;
  }

  section.contactSection .contactText h3 {
    clear: both;
    font-size: 2vh;
  }
}

section.ourServicesSection .ourServicesCard span:nth-child(1) {
  height: 0.5vw;
}

section.ourServicesSection .ourServicesCard span:nth-child(2) {
  width: 0.5vw;
}

section.ourServicesSection .ourServicesCard span:nth-child(3) {
  height: 0.5vw;
}

section.ourServicesSection .ourServicesCard span:nth-child(4) {
  width: 0.5vw;
}

@media (min-height: 740px) and (orientation: portrait) {
  .nav-mobile .menu div {
    margin: 6vh auto;
    font-size: 3.3vh;
    line-height: 5.5vh;
  }

  main .mainTitle {
    position: absolute;
    top: 30vh;
    left: 5vw;
    width: 90vw;
    z-index: 1;
  }

  main .mainTitle h1 {
    font-size: 9.5vh;
    line-height: 10vh;
    letter-spacing: 0.15vw;
    text-shadow: 0.75vw 0.75vw black;
  }

  section.aboutCompanySection h1 {
    font-size: 5vh;
    letter-spacing: 0.75vw;
    padding-top: 6vh;
  }

  section.aboutCompanySection p {
    font-size: 2.3vh;
    line-height: 1.7;
    letter-spacing: 0.1vw;
  }

  section.ourServicesSection .ourServicesCard {
    width: 75vw;
    height: 70vh;
    margin-top: 23vh;
    float: none;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    opacity: 0.8;
    font-size: 3.5vh;
    padding: 0 3vw 0 3vw;
  }

  section.priceListSection .priceListDiv .spanPriceFirst {
    font-size: 3.2vh;
  }
}

@media (min-width: 1200px)
  {
  main .titleLine .spanMainTitle {
    display: inline;
  }

  nav {
    display: block;
  }

  .nav-mobile {
    display: none;
  }

  nav .logoText {
    font-size: 3.3vh;
  }

  nav .navDivs div {
    font-size: 2.5vh;
  }

  main .mainTitle {
    top: 40vh;
    left: 14.5vw;
    width: 70vw;
    height: 30vh;
  }

  main .mainMobileBr {
    display: none;
  }

  main .moreInfo {
    display: block;
  }

  section.aboutCompanySection h2 {
    height: 11vh;
  }

  section.aboutCompanySection p {
    height: 49vh;
    font-size: 3.3vh;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    font-size: 3.7vh;
  }

  section.ourServicesSection .ourServicesCard span:nth-child(1) {
    height: 0.2vw;
  }

  section.ourServicesSection .ourServicesCard span:nth-child(2) {
    width: 0.2vw;
  }

  section.ourServicesSection .ourServicesCard span:nth-child(3) {
    height: 0.2vw;
  }

  section.ourServicesSection .ourServicesCard span:nth-child(4) {
    width: 0.2vw;
  }
}

@media (min-width: 1600px) {
  .contactTop a {
    font-size: 2.3vh;
  }

  nav .logoText {
    font-size: 3.5vh;
  }

  nav .navDivs div {
    font-size: 2.8vh;
  }

  section.aboutCompanySection p {
    font-size: 3.4vh;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    font-size: 4vh;
  }
}

@media (min-width: 2300px) {
  nav .navDivs div {
    font-size: 2.5vh;
  }

  section.aboutCompanySection p {
    font-size: 3.1vh;
  }

  section.ourServicesSection .ourServicesCard .cardContent p {
    font-size: 3.7vh;
  }
}
